@charset "UTF-8";

/*
Paleta de cores pode ser colocada aqui.
*/

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}

body, html {
  background-color: blueviolet;
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  
  background-color: white;
  width: 250px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.450);

  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;
  transform: translate(-50%, -50%);

}

section#login > div#imagem {
  display: block;
  background: blueviolet url(../imagens/pexels-magda-ehlers-1279813.jpg) no-repeat;
  background-size: cover;
  background-position: left bottom;
  height: 200px;
}

section#login > div#formulario {
  display: block;
  padding: 10px;

}

div#formulario > h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#formulario > p {
  font-size: 0.8em;
}
div.campo > label {
  display: none;
}

div.campo > i {
  color: white;
  font-size: 2em;
  width: 40px;
  padding: 5px;

}

div.campo > input {
  background-color: lightgreen;
  font-size: 1em;
  width: calc(100% - 45px);
  height: 100%;
  border: 0px;
  border-radius: 8px;
  padding: 4px;
  transform: translateY(-11px);
}

div.campo > input:focus-within {
  background-color: white;
  border: none;
}

form > div.campo {
  background-color: purple;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 1em;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  border: 2px solid purple;
}

form > input[type=submit] {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: rgb(15, 86, 15);
  color: rgb(226, 195, 18);
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

form > input[type=submit]:hover {
  background-color: purple;
}

form > a.botao {
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 7px;
  text-decoration: none;

}
form > a.botao:hover {
  background-color: lightblue;
}

form > a.botao > i {
  font-size: 0.8em;

}
